/* root
-------------------- */

:root {
  --black: #111729;
  --light-black: #234;
  --gray: #909193;
  --white2: #f2f9fe;
  --white: #fff;
  --blue: #2a4dd0;
  --green: #4ca154;

  /* color map */
  --background-color: var(--white2);
  --primary-text-color: var(--black);
  --secondary-text-color: var(--light-black);
  --button-bg-color: var(--blue);
  --button-text-color: var(--white);
  --link-color: var(--blue);
  --done-color: var(--green);

  /* font */
  --font-base: 'Popiins', inter, system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

/* common
-------------------- */

.container {
  max-width: 640px;
  padding: 0 3.75%;
  margin: 0 auto;
}

@media (width > 768px) {
  .container {
    max-width: 768px;
  }
}

@media (width > 1024px) {
  .container {
    max-width: 1024px;
    padding: 0 3.5%;
  }
}

@media (width > 1280px) {
  .container {
    max-width: 1280px;
  }
}
