/* root
-------------------- */

:root {
  --black: #111729;
  --light-black: #234;
  --gray: #909193;
  --white2: #f2f9fe;
  --white: #fff;
  --blue: #2a4dd0;
  --green: #4ca154;

  /* color map */
  --theme-light-color: var(--white2);
  --theme-dark-color: var(--light-black);
  --background-color: var(--white2);
  --primary-text-color: var(--black);
  --secondary-text-color: var(--light-black);
  --button-bg-color: var(--blue);
  --button-text-color: var(--white);
  --link-color: var(--blue);
  --done-color: var(--green);
  --menu-button-color: var(--black);
  --menu-bg-color: var(--white);
  --menu-text-color: var(--gray);

  /* font */
  --font-base: 'Poppins', inter, system-ui, avenir, helvetica, arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

body[data-theme='dark'] {
  --background-color: var(--black);
  --primary-text-color: var(--white);
  --secondary-text-color: var(--gray);
  --button-bg-color: var(--blue);
  --button-text-color: var(--white);
  --link-color: var(--blue);
  --done-color: var(--green);
  --menu-button-color: var(--white);
  --menu-bg-color: var(--black);
  --menu-text-color: var(--gray);
}

a {
  color: inherit;
  text-decoration: none;
}

/* load ※Chromeのページ初期読み込み時のtransition抑制対応 */
.js-preload * {
  transition: none !important;
}

/* common
-------------------- */

.theme-switch__base {
  position: relative;
  display: block;
  width: 48px;
  height: 24px;
  background-color: var(--theme-dark-color);
  border: 2px solid var(--theme-dark-color);
  border-radius: 16px;
}

.theme-switch__base:has(:focus-visible) {
  outline: auto;
  outline-offset: 6px;
}

.theme-switch__toggle {
  opacity: 0;
}

.theme-switch__toggle-selected {
  position: absolute;
  top: 0;
  display: block;
  width: 20px;
  height: 20px;
  background-color: var(--theme-light-color);
  border-radius: 50%;
  transition: 0.2s;
}

input[type='checkbox']:checked.theme-switch__toggle
  + .theme-switch__toggle-selected {
  transform: translateX(24px);
}

.theme-switch__icon-base {
  position: absolute;
  top: 50%;
  width: 18px;
  height: 18px;
  background-position: center;
  background-size: cover;
  transition: 0.2s;
  transform: translateY(-50%);
}

.theme-switch__dark-icon {
  left: 1px;
  background-image: url('../images/Moon_fill.svg');
}

input[type='checkbox']:checked.theme-switch__toggle ~ .theme-switch__dark-icon {
  background-image: url('../images/Moon_fill_light.svg');
}

.theme-switch__light-icon {
  right: 1px;
  background-color: var(--theme-light-color);
  mask-image: url('../images/Sun_fill.svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 18px;
}

input[type='checkbox']:checked.theme-switch__toggle
  ~ .theme-switch__light-icon {
  background-color: var(--theme-dark-color);
}

.header__theme-switch {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

@media (width > 1024px) {
  .header__theme-switch {
    display: block;
  }
}

@media (width > 1280px) {
  .container {
    max-width: 1120px;
    margin: 0 auto;
  }
}

/* header
-------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 20px;
}

.header__logo-wrapper {
  padding-left: 4px;
}

.header__nav {
  display: none;
}

.header__nav-list {
  display: flex;
  align-items: center;
  padding: 0;
  list-style: none;
}

.header__nav-list-item {
  margin-right: 32;
  font-size: 1rem;
  color: var(--secondary-text-color);
}

.header__nav-list-item:last-child {
  margin-left: 0;
}

.header__nav-list-item--selected {
  font-weight: 600;
  color: var(--primary-text-color);
}

.header__menu-button {
  position: relative;
  width: 20px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}

.header__menu-button-bar {
  display: block;
  width: 100%;
  height: 3px;
  content: '';
  background-color: var(--menu-button-color);
  border-radius: 16px;
}

.header__menu-button-bar::before,
.header__menu-button-bar::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  content: '';
  background: var(--menu-button-color);
  border-radius: 16px;
}

.header__menu-button-bar::before {
  top: 0;
}

.header__menu-button-bar::after {
  bottom: 0;
}

@media (width > 1024px) {
  .header {
    padding: 28px 32px;
  }

  .header__logo-wrapper {
    padding-left: 0;
  }

  .header__menu-button {
    display: none;
  }

  .header__nav {
    display: block;
  }
}

@media (width > 1280px) {
  .header {
    padding: 28px 0;
  }
}

/* main
-------------------- */

.main {
  padding-bottom: 42px;
  margin-top: 12px;
}

.main-contents-wrapper {
  display: flex;
  flex-direction: column;
}

@media (width > 1024px) {
  .main {
    padding-bottom: 140px;
    margin-top: 64px;
  }
}

@media (width > 1280px) {
  .main {
    padding-bottom: 112px;
  }

  .main-contents-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 64px);
    column-gap: 32px;
  }
}

.hero__image-wrapper {
  padding: 0 2%;
  margin: 0 auto;
}

.hero__image {
  width: 100%;
  height: auto;
}

@media (width > 1024px) {
  .hero__image-wrapper {
    max-width: 576px;
  }
}

@media (width > 1280px) {
  .hero__image-wrapper {
    grid-row: 1;
    grid-column: 7 / 13;
    padding: 0;
    margin-top: auto;
    margin-bottom: 28px;
  }
}

.hero-contents {
  margin-top: 152px;
}

.hero-contents-container {
  padding: 0 3%;
  margin: 0 auto;
}

.hero-contents__intro {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.hero-contents__primary-text {
  display: block;
  margin-top: 12px;
  font-size: 3rem;
  font-style: initial;
  font-weight: 700;
  line-height: 1.6;
  color: var(--primary-text-color);
}

.hero-contents__secondary-text {
  margin-top: 32px;
  font-size: 1.125rem;
  color: var(--secondary-text-color);
}

.hero-contents__action {
  margin-top: 40px;
}

.hero-contents__action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  padding: 12px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--button-text-color);
  text-transform: uppercase;
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 12px;
}

.hero-contents__action-link {
  display: inline-block;
  margin-left: 36px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--link-color);
  text-decoration: underline 2px;
  text-underline-offset: 2px;
}

.hero-contents__features-list {
  display: flex;
  padding: 0;
  margin-top: 40px;
  list-style: none;
}

.hero-contents__features-list-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 0.875rem;
  color: var(--secondary-text-color);
}

.hero-contents__features-list-item:last-child {
  margin-right: 0;
}

.hero-contents__features-list-item::before {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
  content: '';
  background-image: url('../images/Done_ring_round_fill.svg');
}

@media (width > 640px) {
  .hero-contents-container {
    max-width: 500px;
    padding: 0;
  }

  .hero-contents__primary-text {
    font-size: 3.75rem;
  }
}

@media (width > 1024px) {
  .hero-contents {
    margin-top: 112px;
  }

  .hero-contents-container {
    max-width: 792px;
  }
}

@media (width > 1280px) {
  .hero-contents {
    grid-row: 1;
    grid-column: 1 / 7;
    margin-top: 0;
  }

  .hero-contents__action {
    margin-top: 24px;
  }

  .hero-contents__action-link {
    margin-left: 24px;
  }
}

/* menu
-------------------- */

.menu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1200;
  width: 100%;
  max-width: 428px;
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
  background-color: var(--menu-bg-color);
  opacity: 0;
  transition:
    opacity 0.3s,
    visibility 0.3s ease 0.3s,
    transform 0.3s;
  transform: translateX(100%);
}

.menu--open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  transform: translateX(0);
}

.menu-backdrop {
  position: fixed;
  inset: 0;
  z-index: 1000;
}

.menu-contents {
  position: fixed;
  z-index: 1200;
  width: 100%;
}

.menu-header {
  padding: 28px;
  text-align: right;
}

.menu-header__close-button {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: none;
}

.menu-header__close-button-bar {
  display: block;
  width: 100%;
  height: 0;
  content: '';
  background-color: var(--menu-button-color);
  border-radius: 16px;
}

.menu-header__close-button-bar::before,
.menu-header__close-button-bar::after {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  content: '';
  background: var(--menu-button-color);
  border-radius: 16px;
}

.menu-header__close-button-bar::before {
  top: 50%;
  opacity: 1;
  transition: 0.3s ease;
  transform: rotate(45deg);
}

.menu-header__close-button-bar::after {
  top: 50%;
  opacity: 1;
  transition: 0.3s ease;
  transform: rotate(-45deg);
}

.menu-contents__nav {
  margin-top: 4px;
  text-align: center;
}

.menu-contents__nav-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 36px;
  padding: 0;
  list-style: none;
}

.menu-contents__nav-list-item {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--menu-text-color);
}

.menu-contents__nav-list-item--selected {
  color: var(--primary-text-color);
}

.menu-footer {
  margin-top: 40px;
  margin-bottom: 80px;
}

.menu-footer__theme-switch {
  margin: 0 auto;
}
